@import url("https://raw.githack.com/PaleaPablo/WeeaboosAbodeDiscord/master/Theme1.css");
@import url('https://raw.githack.com/PaleaPablo/WeeaboosAbodeDiscord/master/CompactChannels.css');
@import url('https://raw.githack.com/PaleaPablo/WeeaboosAbodeDiscord/master/CompactMember.css');
@import url('https://fonts.googleapis.com/css?family=Whitney');
:root {
--bgImage: url('https://images3.alphacoders.com/704/704387.png');
--HomeButtonImg: url('https://i.imgur.com/t7YaXDe.jpg');
--brightness: 0.7;
--customFont: 'Whitney';
--PrimaryColor01: #CF4071;
--PrimaryColorRGBA: rgba(207,64,113,.15);
--PrimaryColor02: #BD6730;
--DangerColor: #dc3545;
--WarningColor: #ffc107;
--SuccesColor: #1e7b34;
--InfoColor: #17a2b8;
--DangerColor02: #ad1f2d;
--WarningColor02: #cc9900;
--SuccesColor02: #1e7b34;
--InfoColor02: #117888;
--links: #0080c0;
--ChatTextColor: hsla(0, 100%, 100%, 1);
--RoleTitleColor: hsla(0, 100%, 100%, .95);
--UserPlayingTextColor: hsla(0, 100%, 100%, .6);
--ChannelsSelectedTextColor: hsla(0, 100%, 100%, .95);
--ChannelsDefaultTextColor: hsla(0, 100%, 100%, .6);
--ChannelsDarkTextColor: hsla(0, 100%, 100%, .2);
}
